body {
    margin: 0;
    padding: 0;

    /*font*/
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.body-container { /*я так и не смогла отцентровать здесь флексами,
 он у меня выравнивает срдержимое внутри этого контейнераБ а не сам 
 контейнер  или я что-то делаю не так*/
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0,1,1,0.2);
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
    list-style: none;
}

main {
    background-color: #ffffff;	
    margin: 0;
    padding: 0;

}

.main-header {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}
.main-header::after { /*я никак не могу вставить это фоновое изображениие,
	и не пониаю что не так?

	к тому же  чтобы оно залезло под остальные блоки мне приходится
	задавать им всем relative position и z-index
	*/
    content: "";
    position: absolute;

    top: 0px; /**/
    left: 0px;
    width: 1200px;
    height: 800px;
	
	background-color: red;
	background-image: url("img/background-photo.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.main-navigation {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0;
	/*background-color: #ffffff; спрятан для видимости красного фона */
}

.main-logo {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 530px;

	margin: 0;
}

.site-navigation {
    margin: 0;
    padding: 0;

	display: flex;
	justify-content: space-between; /*ТЗ требование п 3.4??*/
	min-height: 56px;
	align-items: center;
}
.site-navigation li {
	flex-basis: 239px;
}

.site-navigation li:nth-of-type(2) {
	margin-right: 244px;
}
.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.about-sedona-general {  /*переписала чтобы блок был шириной
	во всю страницу  и его фон перекрывал фоновую картинку
	или эта фоновая картинка должна быть обрезана?*/
	position: relative;
	display: block;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: normal;
    
    padding-top: 61px;
    padding-left: 380px;
    padding-right: 380px;
    padding-bottom: 15px;  /*почему-то вылез разрыв между этим 
    блоком и "Рассмотри 5 причин..."?*/
    margin-top: 508px; /*временная мера,*/
    margin-bottom: 0px;
	background-color: #ffffff;
	z-index: 2;

}

.about-sedona-reasons {
	background-color: #ffffff;
	position: relative;
	z-index: 2;
	margin-top: 0px;
}
.five-reasons {
	margin-bottom: 56px;
}

.reasons {
	margin: 0;
	padding: 0;
}

.first,
.second {
	padding: 0;
	background-color: #81b3d2;
    color: #ffffff;
}

.other {
    background-color: #eeeeee; 
    color: #333333;
    margin: 0;
}

.reasons-heading,
.inside-sedona-heading {
	font-weight: bold;
	line-height: 21px;
    font-size: 21px;
    margin: 0;
}

.inside-sedona {
	background-color: #ffffff;
	color: #333333;
	margin:0;
}

.reason-text {
	margin: 0;
}

.other .reasons-heading,
.inside-sedona-heading {
	color: #000000;
}

.suggestion {
	background-color: #ffffff;
	color: #333333;
}

.suggestion b {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.hotels-search {
	background-color: #ffffff;

	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.hotels-search-table {
	color: #ffffff;
	font-size: 21px;

	background-color: #766357;
}

.hotels-search-table:focus,
.hotels-search-table:hover {
	background-color: #604e43;
}

.hotels-search-table:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

.label-text {
	font-weight: bold;
	color: #000000;
	font-size: 14px;
	text-align: left;
}

.hotels-search input {
	width: 346px;
	margin-bottom: 30px;
	padding-left: 13px;
	padding-bottom: 13px;
	padding-top: 14px;
	background-color: #f2f2f2;
	border: none;

	font-size: 14px;
	text-transform: capitalize;
	color: #000000;
	font-weight: bold;
}

.input-short {
	width: 38px;
	margin-bottom: 54px;

	background-color: #f2f2f2;
	border: none;

	font-size: 14px;
	text-transform: capitalize; /*работает только на первой букве??*/
	color: #000000;
	font-weight: bold;
}

.button {
	outline: none;

	font: inherit;
	font-size: 14px; 
	color: #ffffff;
}

.symbols {
	width: 38px;
	height: 38px;

	background-color: #f2f2f2;
	border: none;
}

.find {
	background-color: #81b3d2;
	border: none;

    font: inherit;
	font-size: 21px; 
	color: #ffffff;
}

.find:focus,
.find:hover {
	background-color: #669ec0;
}

.find:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.hotels {
	text-align: left;

	background-color: #ffffff;
}

.hotel-name a{
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.hotel-name a:focus,
.hotel-name a:hover {
	color: #81b3d2;
}

.hotel-name a:active {
	color: rgba(0,0,0,0.3);
}

.rating {
    text-align: right;
    color: #666666;

    background-color: #f2f2f2;
}

.details a{
	background-color: #81b3d2;
}

.details a:hover,
.details a:focus {
	background-color: #669ec0;
}

.booking a{
	background-color: #776357;
}

.booking a:hover,
.booling a:focus {
	background-color: #604e43;
}

.page-footer {
	background-color: #ffffff;
}

.hashtag a {
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
/*.footer-copyright a:hover,
.footer-copyright a:focus {
	*/

.social-button {
	background-color: #81b3d2;
}

.social-button:focus,
.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.filters {
    background-color: #669ec0;
	background-image: url("img/filter-background.jpg");/*?????*/
	
	color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*--------------сетка для блока причин----------------*/

.first-container {
	display: flex;
	align-items: center;
}
.reason-one {
	box-sizing: border-box;
	width: 400px;
	padding-left: 60px;
	padding-right: 60px;
}

.first .content-picture { /*на макете 800х256*/ 
    /*почему не вставляется фон?((*/
    display: block;
    height: 256px;
    width: 800px;
    background-color: green;
    background-image: url("img/sedona-town.jpg"); 
    }

.content-picture { /*как изменить положение картинки*/
    height: 256px;
}

.second-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.reason-two {
	box-sizing: border-box;
	width: 400px;
	padding-left: 48px;
	padding-right: 49px;
}

.inside-sedona {
	display: flex;
	justify-content: space-around;
	padding-top: 155px; /*временные паддинги до того, как оформлю содерж.внутри*/
	padding-bottom: 105px;
}

.reasons {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.other {
	flex-grow: 1;
	padding-top: 50px;
	padding-bottom: 118px; 
}
/*------------------------------------------------------------*/

.suggestion {
	width: 434px;
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	margin-bottom: 52px;
}


/*------------------сетка для формы поиска?-------------------*/

.hotels-search {
	display: flex;
	background-color: red;
	flex-direction: column;
	align-items: stretch;
    

	margin-left: 316px;
	margin-right: 316px;
}

.hotels-search-table {
	padding-left: 140px;
	padding-right: 139px;
	padding-top: 25px;
	padding-bottom: 33px;

	width: auto;
	margin-bottom: 55px;
}

.button-container {
	margin-bottom: 55px;
} 

/*---------------------footer-----------------------------*/
.page-footer .container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.hashtag {

	background-color: green;
	width: 400px;
}

.footer-social ul {

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	width: 400px;
}

.footer-copyright {

    width: 400px;
	background-color: blue;
}



/*-------------------------catalog page-------------------------*/

/*--------------------блок с фильтрами в процессе...------------*/

.filters .container {
	display: flex;
}

.filter-column-one {
}
/*-------------------------catalog page-------------------------*/

.hotel-suggestion {
	display: flex;
}
.hotel-name {
	margin: 0;
}
.rating {
	margin: 0;
	margin-right: 73px;
	background-color: red;
}

.hotel-photo {
	margin-left: 72px;
	margin-right: 30px;
	background-color: green;
}

.hotel-info {
	width: 260px;
	flex-grow: 1;
	background-color: blue;

}




