body {
    margin: 0;
    padding: 0;
    /*padding-left: 10px; /*критерий Б13*
    padding-right: : 10px;  закоммеентила чтобы пиксель перфект не уползал*/

    /*font*/
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.body-container { 
	position: relative;
    margin-right: auto;
    margin-left: auto;   
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0,1,1,0.2); 
}
.main-page {
	position: relative;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
    list-style: none;
}

.main-header {
	position: relative;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.foil {
    width: 1200px;
    height: 564px;
	
	background-color: #81b3d2;
	background-image: url("../img/intro-mask.svg"), url("../img/intro-welcome.svg"), url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-size: 100%, 459px 353px, 100%;
	background-position: center 507px, center 132px, 50% -26px;	
}

.main-navigation {
	background-color: #ffffff;	
}

.main-logo {
	position: absolute;
	top: -1px;
	left: 530px;
	margin: 0;
}

.site-navigation {
    margin: 0;
    padding: 0;
	display: flex;
	justify-content: space-between; /*ТЗ требование п 3.4??*/
	min-height: 56px;
	align-items: center;
}

.site-navigation li {
	flex-basis: 239px;
}

.site-navigation li:nth-of-type(2) {
	margin-right: 244px;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.about-sedona-general { 
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: normal;
    
    padding-left: 380px;
    padding-right: 380px;

    margin-top: 62px;
    margin-bottom: 29px; 
	background-color: #ffffff;
}

.about-sedona-reasons {
	background-color: #ffffff;
}

.five-reasons {
	padding-bottom: 52px;
	margin: 0; 
}

.first,
.second {
	padding: 0;
	background-color: #81b3d2;
    color: #ffffff;
}
.reason-one-picture { 
   margin-top: -79px;
}

.reason-two-picture {
	margin-top: -74px;
}

.other {
    background-color: #eeeeee; 
    color: #333333;
    margin: 0;
}

.reasons-heading,
.inside-sedona-heading {
	font-weight: bold;
	line-height: 21px;
    font-size: 21px;
    margin: 0;
}

.inside-sedona {
	background-color: #ffffff;
	color: #333333;
	margin: 0;
}

.reason-text {
	margin: 0;
}

.reason-number {
	margin: 0;
}

.other .reasons-heading,
.inside-sedona-heading {
	color: #000000;
}


.hotels-search {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.hotels-search-table {
	color: #ffffff;
	font-size: 21px;
	background-color: #766357;
}

.hotels-search-table:focus,
.hotels-search-table:hover {
	background-color: #604e43;
}

.hotels-search-table:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

.label-text {
	font-weight: bold;
	color: #000000;
	font-size: 14px;
	
}

.hotels {
	text-align: left;
	background-color: #ffffff;
}

.hotel-name a{
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.hotel-name a:focus,
.hotel-name a:hover {
	color: #81b3d2;
}

.hotel-name a:active {
	color: rgba(0,0,0,0.3);
}

.hashtag a {
	color: #000000;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*--------------сетка для блока причин----------------*/

.first-container,
.second-container {
	display: flex;
	align-items: flex-start;

}

.second-container {
	flex-direction: row-reverse;
}

.reason-one,
.reason-two {
	box-sizing: border-box;
	width: 400px;
}

.reasons-heading {
	margin-top: 48px;
	width: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}
.reason-picture {
	overflow: hidden;
	height: 256px;
}


.reason-one .reason-text,
.reason-two .reason-text,
.other .reason-text {
	margin-right: auto;
	margin-left: auto;
	margin-top: 19px;
}

.reason-one .reason-text {
	width: 280px;
}

.reason-two .reason-text {
	width: 303px;
}

.inside-sedona {
	display: flex;
	justify-content: space-around;
	padding: 0; 
}

.inside-sedona li {
	position: relative;
    width: 400px;
}

.inside-sedona-heading {
	padding-top: 162px;
}

.inside-sedona-reason .reason-text {
	padding-top: 24px;
	padding-bottom: 82px;
	margin-left: auto;
	margin-right: auto;
}

.inside-sedona-reason:first-of-type .reason-text {
	width: 252px;
}
.inside-sedona-reason:nth-of-type(2) .reason-text {
	width: 284px;
}
.inside-sedona-reason:last-of-type .reason-text {
	width: 273px;
}

.inside-sedona-reason:first-of-type .inside-sedona-heading::before { 
	position: absolute;
	content: "";
    
    width: 75px;
    height: 74px;
    left: 50%;
    margin-left: -37px;
    top: 61px;
    background: url("../img/house.svg") no-repeat;  
}
.inside-sedona-reason:nth-of-type(2) .inside-sedona-heading::before { 
	position: absolute;
	content: "";

    width: 75px;
    height: 74px;
    left: 50%;
    margin-left: -37px;
    top: 61px;
    background: url("../img/burger.svg") no-repeat;  
}

.inside-sedona-reason:last-of-type .inside-sedona-heading::before { 
	position: absolute;
	content: "";

    width: 75px;
    height: 75px;
    left: 50%;
    margin-left: -34px;
    top: 57px;    
    background: url("../img/gift.svg") no-repeat; 
  }

.reasons {
	margin: 0;
	padding: 0;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.other {
	box-sizing: border-box;
	width: 400px;
	align-self: stretch;	
}

.other .reason-text {
	padding-bottom: 58px;
	width: 262px;
}
/*------------------------------------------------------------*/

.suggestion {
	box-sizing: content-box;
	width: 435px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 52px;
	margin-bottom: 134px;

	background-color: #ffffff;
	color: #333333;
	font-size: 14px;
	line-height: 24px;
}

.suggestion b {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.suggestion-text {
	margin-top: 23px; /*как сдвинуть этот текст?*/
}

.map {
	height: 590px;
	overflow: hidden;
}

/*------------------сетка для формы поиска?-------------------*/
.search-form {
	padding-left: 55px; 
	padding-right: 55px;
}

.input-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
    padding-bottom: 26px;
    border: none;
}

.input-container button{
	position: absolute;
	border: none;
	background: unset;
	padding: 0;
	margin-left: 428px;
	margin-top: 8px;
}

.calendar {
	fill: #a9a9a9;;
}

.calendar:hover,
.calendar:active {
	fill: #000000;
}

.calendar:active {
	fill: #81b3d2;
	outline: none; 
}

.input-multiple-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;    
	margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.label-text {
	display: inline-block;
	margin-top: 8px;
	margin-right: 22px;
}
.adults {
	display: flex;
}

.adults .label-text{
	display: inline-block;
	margin-right: 40px;
}

.children {
	display: flex;
}

.children .label-text {
	margin-right: 25px;
}

.three-blocks {
	display: flex;
}

.symbols {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	padding: 0;
}

.minus,
.plus {
	fill: #a9a9a9;
	margin-top: 0.5em;
}

.plus {
	stroke: #a9a9a9;
}

.symbols:focus .minus,
.symbols:focus .minus {
	fill: black;
}

.symbols:hover .plus,
.symbols:hover .plus {
	stroke: black;
}

.symbols:active,
.symbols:focus,
.symbols:hover {
	outline: none;
}

.symbols:active .minus {
	fill: #81b3d2;
}

.symbols:active .plus {
	stroke: #81b3d2;
}


.hotels-search input {
	flex-grow: 2;
	padding-top: 12px;
	padding-bottom: 12px; 
	padding-left: 13px;
	
	background-color: #f2f2f2;
	outline: none;

	font-size: 14px;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	border: none;
}

.input-container input:hover,
.input-container input:active, {
	background-color: #ebebeb;	
    outline: none;
} 

.hotel-search input:focus {
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
}

input.input-short {
	box-sizing: border-box; 
	width: 38px;
	height: 38px;
	padding: 0;
	padding-top: 4px;
	text-align: center;
	background-color: #f2f2f2;
	border: none;
	font-size: 14px;
	text-transform: uppercase; 
	color: #000000;
	font-weight: bold;
}

.button {
	outline: none;
	font: inherit;
	font-size: 14px; 
	color: #ffffff;
	margin: 0;
	padding: 0; 
}

.find {
	background-color: #81b3d2;
	border: none;
	width: 458px;
	margin-right: auto;
	margin-left: auto;

    font: inherit;
    text-transform: uppercase; /*???*/
	font-size: 21px; 
	color: #ffffff;

	padding-top: 17px;
	padding-bottom: 15px;
}

.find:focus,
.find:hover {
	background-color: #669ec0;
	outline: none;
}

.find:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
	outline: none;
}


.modal {
	position: relative;
}

.hotels-search {
	position: absolute;
	top: -87px;
	left: 316px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 7px 15px rgba(0,1,1,0.15); 
}

.hotels-search-table {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

	width: auto;
	margin-bottom: 55px;
}

.button-container {
	margin-bottom: 55px;
	margin-top: 56px;
} 

/*---------------------footer-----------------------------*/
.page-footer {
	position: absolute;
	display: flex;
    background-color: rgba(255, 255, 255, 0.9);
	padding-top: 36px;
	padding-bottom: 36px;
	margin-top: -119px;
}

.inner-page .page-footer {
	position: static;
	background-color: rgba(255, 255, 255, 1);
	margin-top: 0;
}

.hashtag {
	align-self: center; 
	margin: 0;
	width: 400px;
}

.footer-social ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center; /*почему не по центру?*/
	box-sizing: border-box;
	width: 400px;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.footer-social li:not(:last-of-type) {
	margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

 .social-button:active .icon {
	opacity: 0.3;
}

.footer-copyright {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 400px;
}

.website {
	display: inline-block;
	margin-right: 8px;
}

.html-logo {
	fill: #231f20;
}

.html-logo:hover,
.html-logo:focus {
	fill: #81b3d2;
}
.html-logo:active {
	fill: #bdbbbc;
}


/*-------------------------catalog page-------------------------*/

/*--------------------блок с фильтрами в процессе...------------*/

.filters {
	color: #ffffff;

	display: flex;
	justify-content: space-between;

	background: #669ec0 url("../img/filter-background.jpg") no-repeat;
	background-position: 50% -300px;
}

.filter-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 31px;
}

.half-one {
	display: flex;
	justify-content: space-between;
}

.filter-column {
	display: flex;
	flex-direction: column; 
	min-height: 217px;

	margin-left: 72px;
	margin-right: 43px;
	background-color: grey;
}

.sort-results {
	box-sizing: border-box;
    height: 86px;  /*временно*/
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

/*-------------------------catalog page-------------------------*/
.hotels {
	margin: 0;

}

.hotels-choise {
	margin: 0;
	padding: 0;
}

.hotel-suggestion {
	display: flex;
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.hotel-name {
	margin: 0;
	padding: 0;
	margin-top: 26px;
	margin-bottom: 7px;
}

.status {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.stars ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 70px;
	margin-bottom: 25px;
	padding: 0;
}

.stars li {
	margin: 0;
	padding: 0;
	padding-right: 2px;
	padding-left: 2px;
	border: solid 1px rgba(255,255,255,0);
}

.rating {
	box-sizing: border-box;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 13px;

	margin-right: 73px;
	margin-bottom: 30px;
	background-color: #f2f2f2;
	color: #666666;
}

.hotel-photo {
	align-self: center;
	margin-left: 72px;
	margin-right: 30px;
}

.hotel-info {
	width: 260px;
	flex-grow: 1;
}

.hotel-info .wrapper {
	display: flex;
}

.sublayer {
	margin: 0;
	padding: 0;
	margin-right: 5px;
	margin-bottom: 20px;
}

.details,
.booking {
	margin: 0;
	padding: 0;
	margin-bottom: 14px; 
}

.details a{
	font-weight: bold;
	background-color: #81b3d2;
	padding: 6px 18px 6px 17px;
}

.details a:hover,
.details a:focus {
	background-color: #669ec0;
}

.details a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.booking a{
	font-weight: bold;
	background-color: #776357;
	padding: 6px 17px 6px 18px;
}

.booking a:hover,
.booling a:focus {
	background-color: #604e43;
}

.booking a:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.hotel-type,
.hotel-price {
	margin: 0;
	margin-bottom: 16px;
}


